.section {
    padding-top: 2rem;
    padding-bottom: 5rem;
    max-width: 90vw;
    margin: auto;
    text-align: center;
}

.section h3 {
    margin-top: 3vh;
    margin-bottom: 2rem;
    font-family: Tusker, sans-serif;
    color: #301B37;
}

.section h4 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin: 3vh;
    margin-top: 8vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.card {
    background-color: #FFF;
    border-radius: 1.125rem;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    width: min(90vw, 21rem);
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-0.3rem);
}

.card h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 0.875rem;
    color: #444;
}

.card img {
    width: 95%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 0;
    margin-left: 0;
}

.card .carousel {
    height: 16rem;
    margin: 0;
}

.card .carousel-image {
    border-radius: 0;
    height: 100%;
    object-fit: contain;
}

.card-body {
    padding: 1.25rem;
    border-top: 1px solid #fff;
    text-align: left;
}

.card-body h4 {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
}

.card-body p {
    font-size: 0.875rem;
    color: #515151;
    margin: 0;
}

/* Carousel */
.carousel {
    background-color: #fff;
    position: relative;
    height: 17rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    z-index: 0;
}

.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel-image.active {
    opacity: 1;
    position: relative;
    z-index: 1;
}

.carousel-dots {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.dot {
    width: 0.625rem;
    height: 0.625rem;
    background-color: rgb(69 63 63 / 60%);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: black;
}